<h2>My Account</h2>

<p>
  <strong>Name:</strong> <%= @user.name %>
</p>

<p>
  <strong>Email address:</strong> <%= @user.email %>
</p>

</p>
	<strong>Department:</strong> <%= @user.dept %>
</p>

<p>
	<strong>Role: </strong> <%= @user.role %>
</p>